body {
     margin: 0;
     font-family: 'Arial', sans-serif;
     padding-top: 60px; /* Adiciona espaço no topo para o menu fixo */
 }
 
 header {
     background-color: #333;
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 1000; /* Para garantir que o menu fique acima do conteúdo */
 }
 
 .menu {
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }
 
 .menu ul {
     list-style: none;
     display: flex;
 }
 
 .menu li {
     margin-right: 20px;
     padding: 10px;
 }
 
 .menu a {
     text-decoration: none;
     color: white;
 }
 
 .submenu ul {
     display: none;
     position: absolute;
     align-items: start;
     background-color: #333;
     border: 1px solid #555;
 }
 
 .submenu:hover ul {
     display: flex;
     flex-direction: column;
 }
 
 .submenu li {
     margin: 0;
     border-bottom: 1px solid #555;
     font-size: small;
 }
 .submenu li :hover{
     color: green;
 }

 .content {
     padding: 20px;
     margin-top: 60px; /* Adiciona espaço para o menu fixo */
 }