{% extends 'index.html' %}

{%block content%} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/guiaFinanceiro.css' %}">
<br><br>
<br><br><br><br>
<section class="carousel-section">
     <div class="carousel">
         <img src="{% static 'img/eolica.jpg' %}" alt="Imagem 1">
         <img src="{% static 'img/h2.jpg' %}" alt="Imagem 2">
         <img src="{% static 'img/placa_solar.jpg' %}" alt="Imagem 3">
     </div>
 </section>

 
 <section class="options-section">
 
     <div class="options-container">
         <div class="option">
             <img src="{% static 'img/hidro.jpg' %}" alt="Opção 2">
             <h3>Nome da Opção 2</h3>
             <p>Texto descritivo da opção 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span>Valor: R$ 150,00</span>
         </div>

         <div class="option">
             <img src="{% static 'img/curso_solar.jpg' %}" alt="Opção 3">
             <h3>Nome da Opção 3</h3>
             <p>Texto descritivo da opção 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span>Valor: R$ 200,00</span>
         </div>
         <div class="option">
               <img src="{% static 'img/esg.jpg' %}" alt="Opção 3">
               <h3>Nome da Opção 3</h3>
               <p>Texto descritivo da opção 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               <span>Valor: R$ 200,00</span>
          </div>
     </div>
 </section>

 <div id="main-container" class="programa" style=" background-size: cover; background-repeat:no-repeat ; background-image: url({%static 'img/programa.jpg'%});      width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #f0f0f0;">
    <div class="sub-container
    " style="text-align: center;
    max-width: 420px; /* Ajuste conforme necessário */
    height: 600px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 15px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    
    ">
        <p><b><span>40%</span> de desconto no Programa Recompensa Credito de Carbono</b></p>
        <img src="{% static 'img/eolica.jpg' %}" alt="Imagem 1">
        <p> <b>Aderindo ao Programa Recompensa Credito de Carbono dos nossos Produtos tem 40% de desconto nos Nossos cursos de capacitação 
            Aderindo ao Incentivo Mulher ESG ou indicando mulheres ganha 60% de desconto </b></p>
        <button class="button">Botão 1</button>
    </div>

    <div class="sub-container">
        <p> <b><span>60%</span> de desconto  no Incentivo Mulher ESG ou indicando mulheres </b></p>
        <img src="{% static 'img/h2.jpg' %}" alt="Imagem 2">
        <p><b> Incentivo Mulher ESG ou indicando mulheres ganha 60% de desconto nos Nossos cursos de capacitação </b></p>
        <button class="button">Botão 2</button>
    </div>
</div>

 <script>
    document.addEventListener('DOMContentLoaded', function () {
        var carrossel = document.querySelector('.carousel');
        var imagens = carrossel.querySelectorAll('img');
        var intervalo = 3000; // Intervalo em milissegundos (3 segundos)
        var indexAtual = 0;

        function avancarImagem() {
            imagens[indexAtual].classList.remove('active');
            imagens[indexAtual].style.opacity = 0;

            indexAtual = (indexAtual + 1) % imagens.length;

            imagens[indexAtual].classList.add('active');
            imagens[indexAtual].style.opacity = 1;

            carrossel.style.transform = 'translateX(' + (-100 * indexAtual) + '%)';
        }

        setInterval(avancarImagem, intervalo);
    });
</script>
{%endblock%}