{% extends 'index.html' %}

{%block content%} 
{% load static %}
<br><br>
<br><br><br><br>
<section class="carousel-section">
     <div class="carousel">
         <img src="{% static 'img/eolica.jpg' %}" alt="Imagem 1">
         <img src="{% static 'img/h2.jpg' %}" alt="Imagem 2">
         <img src="{% static 'img/placa_solar.jpg' %}" alt="Imagem 3">
     </div>
 </section>
<div class="mulheres"style="margin-top: 20px;">
     <img src="{% static 'img/mulheres.jpg' %}" style="width: 450px; height: 50%; margin-top: 20px;">
</div>
 
 <section class="options-section">
 
     <div class="options-container">
         <div class="option">
             <img src="{% static 'img/hidro.jpg' %}" alt="Opção 2">
             <h3>Nome da Opção 2</h3>
             <p>Texto descritivo da opção 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span>Valor: R$ 150,00</span>
         </div>

         <div class="option">
             <img src="{% static 'img/curso_solar.jpg' %}" alt="Opção 3">
             <h3>Nome da Opção 3</h3>
             <p>Texto descritivo da opção 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             <span>Valor: R$ 200,00</span>
         </div>
         <div class="option">
               <img src="{% static 'img/esg.jpg' %}" alt="Opção 3">
               <h3>Nome da Opção 3</h3>
               <p>Texto descritivo da opção 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               <span>Valor: R$ 200,00</span>
          </div>
     </div>
 </section>

<div class="programa" style="height: 100%;  width: 100%;background-repeat:no-repeat ; background-image: url({%static 'img/programa.jpg'%});">
     <div class="programa-container">   
          <center><h1> Programa Recompensa Credito de Carbono</h1></center>
          <center><h1> Programa Recompensa Credito de Carbono</h1></center>
          <center><h1> Programa Recompensa Credito de Carbono</h1></center>
          <center><h1> Programa Recompensa Credito de Carbono</h1></center>

     </div>
</div>


 <script>
    document.addEventListener('DOMContentLoaded', function () {
        var carrossel = document.querySelector('.carousel');
        var imagens = carrossel.querySelectorAll('img');
        var intervalo = 3000; // Intervalo em milissegundos (3 segundos)
        var indexAtual = 0;

        function avancarImagem() {
            imagens[indexAtual].classList.remove('active');
            imagens[indexAtual].style.opacity = 0;

            indexAtual = (indexAtual + 1) % imagens.length;

            imagens[indexAtual].classList.add('active');
            imagens[indexAtual].style.opacity = 1;

            carrossel.style.transform = 'translateX(' + (-100 * indexAtual) + '%)';
        }

        setInterval(avancarImagem, intervalo);
    });
</script>
 
{%endblock%}